<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="footer">
    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Stats Visualizer</h5>
                    <p class="grey-text text-lighten-4">&copy; 2025 dojonate. All rights reserved. Data courtesy
                        Retrosheet.</p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>